<% if logged_in? && !current_user.admin? %>
  <div class="row">
    <div class="col-md-3">
      <%= render "users/summary", user: current_user %>
    </div>
    <div class="col-md-9">
      <%= render "shared/word_lesson_button" %>
      <h3><%= t "user.lesson_act", count: @user.lessons.count %></h3>
      <%= render "users/lesson", user: current_user %>
    </div>
  </div>
<% end %>
