<br>
<table class="w100">
  <tr>
    <td width="50%" align="right"><%= button_to I18n.t(:word_list), words_path, class: "btn btn-primary btn-lg", style: "width: 200px;", method: :get %></td>
    <td>&nbsp;&nbsp;</td>
    <td width="50%"><%= button_to I18n.t(:start_lesson), categories_path, class: "btn btn-primary btn-lg", style: "width: 200px;", method: :get %></td>
  </tr>
</table>
